section{
    background-color: linen;
}
section h1{
    background-color: lightblue;
}
article{
    background-image: url(https://images.unsplash.com/photo-1638376867422-0bec495fc781?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MDY3MjI2NA&ixlib=rb-1.2.1&q=80&w=1080);
}